<% @page_title = "USA DNA Testing Options" %>
<% @page_description = "New Description" %>

<div class="color-hd lde">
	<div class="inner">
		<h1 class="text-center"><%= @page_title %></h1>
		<div class="text">
	  	<p>USA DNA Testing offers a variety of testing options to suit different needs. If you need help finding the right test for you, contact us, or read through the list below for more details on each option. </p>

	  	<h2>Easy as swab, two, three...</h2>
	  	<p>All samples are taken by rubbing a soft swab on the inside of the cheek, so testing is quick, painless and non-invasive.</p>
		</div>

		<div class="img">
			<%= image_tag('swab-test-vec.png', class: 'img-responsive') %>
		</div>
	</div>
</div>

<div class="full-options" uk-filter="target: .js-filter">
	<div class="inner">
		<ul class="list">
			<li uk-filter-control><a class="opt-name" href="#">
				All Testing Options
			</a></li>

			<li uk-filter-control="filter: .legal-block"><a class="opt-name" href="#">
				Legal Paternity Testing
			</a></li>

			<li uk-filter-control="filter: .nonlegal-block"><a class="opt-name" href="#">
				Non-Legal Paternity Testing
			</a></li>

			<li uk-filter-control="filter: .avunc-block"><a class="opt-name" href="#">
				Avuncular DNA Testing
			</a></li>

			<li uk-filter-control="filter: .sibling-block"><a class="opt-name" href="#">
				DNA Siblingship Testing
			</a></li>

			<li uk-filter-control="filter: .grand-block"><a class="opt-name" href="#">
				Grand Paternity Testing
			</a></li>

			<li uk-filter-control="filter: .twin-block"><a class="opt-name" href="#">
				Twin Zygosity DNA Testing
			</a></li>

			<li uk-filter-control="filter: .profile-block"><a class="opt-name" href="#">
				DNA Profiling Test
			</a></li>

			<li><a class="opt-name" href="/charges/new">
				Home Paternity DNA Test Kit
			</a></li>
		</ul>

		<div class="desc">
			<ul class="js-filter">
				<ul class="legal-block opt-block">
					<div class="inner">
						<div class="title">
							<h3>Legal <br class="cst-br">Paternity Testing</h3>
					    <p class="price">$325.00</p>
						</div>

						<div class="dets">
					    <p>Legal DNA/Paternity Testing refers to DNA testing that will be used for court purposes -- i.e., child support, custody cases, changing the name on a birth certificate.</p>

							<div class="tog">
								<a class="show" type="button" uk-toggle="target: #toggle-legal">Show More</a>
								<a uk-toggle="target: #legal" type="button" class="register">Register Now</a>
								<div id="toggle-legal" class="tog-content" aria-hidden="true" hidden>
									<p>During this process, a member of our staff will perform the test, while maintaining the required chain of custody.
						     	You will be provided with a court admissible document.</p>
								</div>
							</div>
					  </div>
					</div>

					<div class="call-bx">
						<p>Have Questions? <br> Give us a call:
							 <a href="tel:8662125426" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1 (866) 212-5426</a>
						</p>
					</div>
				</ul>

				<ul class="nonlegal-block opt-block">
					<div class="inner">
						<div class="title">
							<h3>Non-Legal<br class="cst-br"> Paternity Testing</h3>
					    <p class="price">$269.00</p>
						</div>

						<div class="dets">
					    <p>Non-Legal Paternity Testing is for curiosity purposes only. It is performed at home, and can not be used in any legal matters or for legal purposes.</p>

							<div class="tog">
								<a class="show" type="button" uk-toggle="target: #toggle-nonleg">Show More</a>
								<a uk-toggle="target: #nonlegal" type="button" class="register">Register Now</a>
						    <div id="toggle-nonleg" class="tog-content" aria-hidden="true" hidden>
						    	<p>We mail the recipient a DNA Testing kit, which includes instructions, and a pre-paid postage envelope to send the testing samples to our testing lab.
							    	The process can be done in the comfort, convenience, and privacy of your own home.</p>
						    </div>
							</div>
					  </div>
					</div>

					<div class="call-bx">
		    		<p>Have Questions? <br> Give us a call:
		    			 <a href="tel:8662125426" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1 (866) 212-5426</a>
		    		</p>
		    	</div>
				</ul>

				<div class="avunc-block opt-block">
					<div class="inner">
						<div class="title">
							<h3>Avuncular<br class="cst-br"> DNA Testing</h3>
					    <p class="price">$325.00</p>
						</div>

						<div class="dets">
					    <p>An Avuncular DNA test is performed to determine if an individual is the biological aunt or uncle of a child. It can also be used in the place of a DNA Paternity test, to confirm a genetic relationship if the alleged father is unavailable or deceased.</p>

							<div class="tog">
								<!-- <a class="show" type="button" uk-toggle="target: #toggle-aunt">Show More</a> -->
								<a uk-toggle="target: #avunc" type="button" class="register solo">Register Now</a>
								<!-- <div id="toggle-aunt" class="tog-content" aria-hidden="true" hidden></div> -->
							</div>
					  </div>
					</div>

					<div class="call-bx">
						<p>Have Questions? <br> Give us a call:
							 <a href="tel:8662125426" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1 (866) 212-5426</a>
						</p>
					</div>
				</div>

				<div class="sibling-block opt-block long">
					<div class="inner">
						<div class="title">
							<h3>DNA Siblingship<br class="cst-br"> Testing</h3>
					    <p class="price">$325.00</p>
						</div>

						<div class="dets">
					    <p>Siblingship DNA testing can determine if two children share one or both parents.
					    	It starts with the analysis of known relatives, and is an indirect way to determine biological relationships when an alleged father is unavailable for a paternity test.
					    </p>

					    <div class="tog">
						    <a class="show" type="button" uk-toggle="target: #toggle-siblings">Show More</a>
								<a uk-toggle="target: #sibling" type="button" class="register">Register Now</a>
						    <p id="toggle-siblings" class="tog-content" aria-hidden="true" hidden>
					      	If Siblings 1 and 2 do not share a mother, but want to know if they share a biological father, <b>a half siblingship test is performed.</b>
					      	If Siblings 1 and 2 share a biological mother, but are unsure if they share a biological father, <b>a full siblingship test is performed.</b><br>
					      	In the test, the siblings’ DNA profiles are compared to see how much of their DNA could have come from a common father.<br>
									<span>
					      	Participation of the mother(s) is encouraged to help exclude the mother’s contribution to the children’s DNA.
					      	Siblingship tests require more analysis, and can be more costly and time consuming without the mother’s participation.
					      	</span>
						    </p>
							</div>
					  </div>
					</div>

					<div class="call-bx">
						<p>Have Questions? <br> Give us a call:
							 <a href="tel:8662125426" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1 (866) 212-5426</a>
						</p>
					</div>
				</div>

				<div class="twin-block opt-block short">
					<div class="inner">
						<div class="title">
							<h3>Twin Zygosity<br class="cst-br"> DNA Testing</h3>
					    <p class="price">$325.00</p>
						</div>

						<div class="dets">
				    	<p>Twin Zygosity DNA Testing is used to determine whether twins are identical or fraternal, based on a simple DNA test.</p>

							<div class="tog">
								<a uk-toggle="target: #twin" type="button" class="register solo">Register Now</a>
							</div>
					  </div>
					</div>

					<div class="call-bx">
						<p>Have Questions? <br> Give us a call:
							 <a href="tel:8662125426" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1 (866) 212-5426</a>
						</p>
					</div>
				</div>


				<div class="grand-block opt-block long">
					<div class="inner">
						<div class="title">
							<h3>Grand Paternity<br class="cst-br"> Testing</h3>
					    <p class="price">$325.00</p>
						</div>

						<div class="dets">
					    <p>A grandparentage test is used to determine whether a person is the biological grandparent of a child </p>

							<div class="tog">
								<a class="show" type="button" uk-toggle="target: #toggle-grents">Show More</a>
								<a uk-toggle="target: #grand" type="button" class="register">Register Now</a>

								<div id="toggle-grents" class="tog-content" aria-hidden="true" hidden>
									<p> This test is typically used if a child's parent is unavailable for testing.</p>
									<p><b>Two types of Grand Paternity testing:</b><br>
									<b>Single Grandparent DNA Analysis:</b><br>
								 	This DNA test includes 1 grandparent, 1 grandchild, and parent (optional, but strongly suggested). The conclusive range for DNA results are either greater than 90% inclusion, or less than 10% exclusion probabilities.</p>

									<p><b>Duo Grandparent DNA Analysis:</b><br>
								  This DNA test includes BOTH grandparents, 1 child, and parent (optional, but strongly suggested). When both alleged grandparents are included, results are the most accurate, and can indicate greater than 99.99% probability (for inclusions), or 100% (for exclusions).</p>

							    <p><span>Samples are collected at home or at a collection center. Results will be available within 5-10 Business Days.</span></p>
							  </div>
							</div>
					  </div>
					</div>

					<div class="call-bx">
						<p>Have Questions? <br> Give us a call:
							 <a href="tel:8662125426" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1 (866) 212-5426</a>
						</p>
					</div>
				</div>


				<div class="profile-block opt-block short">
					<div class="inner">
						<div class="title">
							<h3>DNA Profiling<br class="cst-br"> Test</h3>
					    <p class="price">$165.00</p>
						</div>

						<div class="dets">
				    	<p>DNA profiling allows individuals to obtain a record of their genetic profile —- a unique combination of 16 markers, found in their DNA, that serves as a permanent genetic ID.</p>

							<div class="tog">
								<a uk-toggle="target: #profile" type="button" class="register solo">Register Now</a>
							</div>
					  </div>
					</div>

					<div class="call-bx">
						<p>Have Questions? <br> Give us a call:
							 <a href="tel:8662125426" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1 (866) 212-5426</a>
						</p>
					</div>
				</div>
			</ul>
		</div>
	</div>
</div>
<%= render 'form-modals' %>











