<% @page_title = "DNA Testing Options" %>
<% @page_description = "New Description" %>

<div class="color-hd lde">
		<h1 class="text-center">DNA Testing Options</h1>
	<div class="text">
  	<p> USA DNA Testing offers different testing options to fit various needs. Select an option from the list to learn more about each test, and find the one that is right for you.</p>

  	<h2>Easy as swab, two, three...</h2>
  	<p><b>All samples are taken by rubbing a soft swab on the inside of the cheek, so testing is quick, painless and non-invasive.</b></p>
	</div>

	<div class="img">
		<%= image_tag('test-icon2.png', class: 'img-responsive') %>
	</div>
</div>

<!-- Register Now -->
<div class="test-options alt">
	<div class="inner">
	<%= image_tag('dnacon.png', class: 'img-l') %>


		<div class="options">
		  <p><a class="opt-name" href="#legal-block">
		  	<i class="fa fa-plus"></i>
		  	Legal Paternity Testing
		  </a></p>

		  <p><a class="opt-name" href="#nonlegal-block">
		  	<i class="fa fa-plus"></i>
		  	Non-Legal Paternity Testing
		  </a></p>

		  <p><a class="opt-name" href="#avunc-block">
		  	<i class="fa fa-plus"></i>
		  	Avuncular DNA Testing
		  </a></p>

		  <p><a class="opt-name" href="#sibling-block">
		  	<i class="fa fa-plus"></i>
		  	DNA Siblingship Testing
		  </a></p>

		  <p><a class="opt-name" href="#grand-block">
		  	<i class="fa fa-plus"></i>
		  	Grand Paternity Testing
		  </a></p>

		  <p><a class="opt-name" href="#twin-block">
		  	<i class="fa fa-plus"></i>
		  	Twin Zygosity DNA Testing
		  </a></p>

		  <p><a class="opt-name" href="#profile-block">
		  	<i class="fa fa-plus"></i>
		  	DNA Profiling Test
		  </a></p>

		  <p><a class="opt-name" href="/charges/new">
		  	<i class="fa fa-plus"></i>
		  	Home Paternity DNA Test Kit
		  </a></p>
		</div>
	</div>
</div>


<div id="legal-block" class="opt-block">
	<div class="inner">
		<div class="title">
			<h3>Legal <br class="cst-br">Paternity Testing</h3>
	    <p class="price">$325.00</p>
			<a uk-toggle="target: #legal" type="button" class="register">Register Now</a>
		</div>

		<div class="dets">
	    <p>
	    	Legal DNA/Paternity Testing refers to DNA testing that will be used for court purposes -- i.e., child support, custody cases, changing the name on a birth certificate.
				During this process, a member of our staff will perform the test, while maintaining the required chain of custody.
	     	You will be provided with a court admissible document.
	    </p>
	    <div class="call-bx">
	    	<p>Have Questions?<br>
	    		Call us at <a href="tel:18667504773" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1 (866)-750-4773</a> for more information.
	    	</p>
	    </div>
	  </div>
	</div>
</div>

<div id="nonlegal-block" class="opt-block">
	<div class="inner">
		<div class="title">
			<h3>Non-Legal<br class="cst-br"> Paternity Testing</h3>
	    <p class="price">$269.00</p>
			<a uk-toggle="target: #nonlegal" type="button" class="register">Register Now</a>
		</div>

		<div class="dets">
	    <p>Non-Legal Paternity Testing is for curiosity purposes only, and can not be used in any legal matters or for legal purposes.
      We mail the recipient a DNA Testing kit, which includes instructions, and a pre-paid postage envelope to send the testing samples to our testing lab.
    	The process can be done in the comfort, convenience, and privacy of your own home.</p>

    	<div class="call-bx">
    		<p>Have Questions?<br>
    			Call us at <a href="tel:18667504773" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1 (866)-750-4773</a> for more information.
    		</p>
    	</div>
	  </div>
	</div>
</div>

<div id="avunc-block" class="opt-block">
	<div class="inner">
		<div class="title">
			<h3>Avuncular<br class="cst-br"> DNA Testing</h3>
	    <p class="price">$325.00</p>
			<a uk-toggle="target: #avunc" type="button" class="register">Register Now</a>
		</div>

		<div class="dets">
	    <p>An Avuncular DNA test is performed to determine if an individual is the biological aunt or uncle of a child. It can also be used in the place of a DNA Paternity test, to confirm a genetic relationship if the alleged father is unavailable or deceased. </p>

	    <div class="call-bx">
	    	<p>Have Questions?<br>
	    		Call us at <a href="tel:18667504773" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1 (866)-750-4773</a> for more information.
	    	</p>
	    </div>
	  </div>
	</div>
</div>

<div id="sibling-block" class="opt-block long">
	<div class="inner">
		<div class="title">
			<h3>DNA Siblingship<br class="cst-br"> Testing</h3>
	    <p class="price">$325.00</p>
			<a uk-toggle="target: #sibling" type="button" class="register">Register Now</a>
		</div>

		<div class="dets">
	    <p>Siblingship DNA testing can determine if two children share one or both parents.
	    	It starts with the analysis of known relatives, and is an indirect way to determine biological relationships when an alleged father is unavailable for a paternity test.
	    	<!-- The results may be used as proof in Social Security cases, and other inheritance claims. -->
	    </p>

      <p>
      	If Siblings 1 and 2 do not share a mother, but want to know if they share a biological father, <b>a half siblingship test is performed.</b>
				<!-- <br> -->
      	If Siblings 1 and 2 share a biological mother, but are unsure if they share a biological father, <b>a full siblingship test is performed.</b><br>
      	In the test, the siblings’ DNA profiles are compared to see how much of their DNA could have come from a common father.
			</p>
			<span>
      	Participation of the mother(s) is encouraged to help exclude the mother’s contribution to the children’s DNA.
      	Siblingship tests require more analysis, and can be more costly and time consuming without the mother’s participation.
      </span>

      <div class="call-bx">
      	<p>Have Questions?<br>
      		Call us at <a href="tel:18667504773" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1 (866)-750-4773</a> for more information.
      	</p>
      </div>
	  </div>
	</div>
</div>

<div id="twin-block" class="opt-block short">
	<div class="inner">
		<div class="title">
			<h3>Twin Zygosity<br class="cst-br"> DNA Testing</h3>
	    <p class="price">$325.00</p>
			<a uk-toggle="target: #twin" type="button" class="register">Register Now</a>
		</div>

		<div class="dets">
    	<p>Twin Zygosity DNA Testing is used to determine if twins are identical or fraternal based on a simple DNA test.</p>

    	<div class="call-bx">
    		<p>Have Questions?<br>
    			Call us at <a href="tel:18667504773" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1 (866)-750-4773</a> for more information.
    		</p>
    	</div>
	  </div>
	</div>
</div>


<div id="grand-block" class="opt-block long">
	<div class="inner">
		<div class="title">
			<h3>Grand Paternity<br class="cst-br"> Testing</h3>
	    <p class="price">$325.00</p>
			<a uk-toggle="target: #grand" type="button" class="register">Register Now</a>
		</div>

		<div class="dets">
	    <p>A grandparentage test is used to determine whether a person is the biological grandparent of a child -- usually used when the parent of the child is not available for testing.</p>

			<p><b>Two types of Grand Paternity testing:</b><br>
			<b>Single Grandparent DNA Analysis:</b><br>
		 	This DNA test includes 1 grandparent, 1 grandchild, and parent (optional, but strongly suggested). The conclusive range for DNA results are either greater than 90% inclusion, or less than 10% exclusion probabilities.</p>

			<p><b>Duo Grandparent DNA Analysis:</b><br>
		  This DNA test includes BOTH grandparents, 1 child, and parent (optional, but strongly suggested). When both alleged grandparents are included, results are the most accurate, and can indicate greater than 99.99% probability (for inclusions), or 100% (for exclusions).</p>

	    <span>Samples are collected at home or at a collection center. Results will be available within 5-10 Business Days.</span>

	    <div class="call-bx">
	    	<p>Have Questions?<br>
	    		Call us at <a href="tel:18667504773" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1 (866)-750-4773</a> for more information.
	    	</p>
	    </div>
	  </div>
	</div>
</div>


<div id="profile-block" class="opt-block short">
	<div class="inner">
		<div class="title">
			<h3>DNA Profiling<br class="cst-br"> Test</h3>
	    <p class="price">$165.00</p>
			<a uk-toggle="target: #profile" type="button" class="register">Register Now</a>
		</div>

		<div class="dets">
    	<p>DNA profiling allows individuals to obtain a record of their genetic profile —- a unique combination of 16 markers, found in their DNA, that serves as a permanent genetic ID.</p>

    	<div class="call-bx">
    		<p>Have Questions?<br>
    			Call us at <a href="tel:18667504773" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1 (866)-750-4773</a> for more information.
    		</p>
    	</div>
	  </div>
	</div>
</div>

<%= render 'form-modals' %>











