<% @page_title = "Our Process" %>
<% @page_description = "New Description" %>


<!-- <div class="hd-layers">
	<div class="l1">
		<h1>USA DNA Testing</h1>

		<h3>Accurate DNA/Paternity testing</h3>
		<h3>fast &amp; reliable results</h3>
		<h3>2,445 accredited locations nationwide</h3>
		<h3>Payment Plans Available</h3>
	</div>
</div> -->

<div class="tbl-row reg">
	<div class="inner">
		<div class="f2">
			<%= image_tag('baby-crown.png', class: 'hd-image img-responsive', alt: 'USA DNA Testing, baby pictures') %>
		</div>

		<div class="f3">
			<h1>USA DNA Testing</h1>
			<p>
				<i class="fa fa-check"></i> Accurate, affordable, reliable DNA/Paternity testing<br>
				<i class="fa fa-check"></i> Over 2,500 accredited locations nationwide<br>
				<i class="fa fa-check"></i> Payment Plans Available
			</p>


			<div class="f1">
				<h4>Painless Testing</h4>
				<p>Samples are taken by gently rubbing a soft swab on the inside of the cheek.
				No blood or other sample collection is required, so our paternity testing is painless and non-invasive.</p>
			</div>

			<div class="f1">
				<h4>No Hidden Charges</h4>
				<p>Other paternity testing companies have hidden costs, and will charge additional fees to provide the results once testing has been completed. All of the costs to collect the sample, process the result, and report the result back to the requester are included in the prices quotes by us, guaranteed.</p>
			</div>
		</div>

	</div>
</div>

<div class="tbl-row rev">
	<div class="inner">
		<div class="f3">
			<h4>Privacy Guaranteed</h4>
			<p><b>Your privacy is of utmost importance to us.</b><br>
			None of your information, genetic or other, will ever be shared with a third party -- i.e., insurer, employer, medical practitioner -- without your express written permission.
			Any and all personal data can be destroyed on request.</p>

			<div class="f1">
				<h4>Highest Quality Standards</h4>
				<p>Unlike many other companies, our testing laboratory is fully certified by the AABB and ISO 17025. We take pride in our commitment to performing DNA/Paternity testing to the highest international standards. We guarantee professional, dependable treatment with every test.</p>
			</div>
		</div>

		<div class="f2">
			<%= image_tag('secure.png', class: 'hd-image img-responsive', alt: 'USA DNA Testing, baby pictures') %>
		</div>
	</div>
</div>

<div class="btcall-block">
	<div class="inner">
		<p>Call us today if you have any questions,
		or if you would like to schedule a DNA/Paternity Test</p>
		<h4><a href="tel:18662125426" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');">1 (866) 212-5426</a></h4>
	</div>
</div>
