<div class="shared-text">
	<p>USA DNA Testing offers DNA &amp; Paternity testing options that are non-invasive, affordable, and 99.99% accurate. Your privacy is our guarantee.
		<!-- <br>For more information, call us toll free at: <%= phone %>. -->
	</p>
</div>
