<div class="shared-text">
	<p>USA DNA Testing offers affordable DNA &amp; Paternity testing options. Our tests are non-invasive and 99.99% accurate. Your privacy is our guarantee.</p>
	<p><b><%= link_to "Click Here", testing_path, class: 'tests' %></b> to learn more about each of our DNA/Paternity Tests, and schedule your testing appointment today! </p>

	<p>For more information, call us toll free at: <span><%= phone %></span>.<br>
	<%= link_to "Click Here", testing_path %> to schedule your testing appointment today!</p>
</div>
