$blue: #02096e;
$blue2:#343a8b;
$red: #e10a17;
$dark: #393939;
$sea: #25dddc;
$gray: #ccc;
$f2: #f2f2f2;
$f6: #f6f6f6;
$f7: #f7f7f7;
$f8: #f8fafb;
$f9: #f9f9f9;

$plum: #A64AC9;
$purple: #1b217c;
$burg: #B23850;
$teal: #70D9BA;
$btn1: #3dfbfd;
$btn2: #33acf3;
// #676ba8
$fun: #305ed5;
// #17e10a

$dk-blue:#0f6da8;
$nblue:#21c3fc;
$nteal:#0ae1d4;

$open: 'Open Sans', sans-serif;
$source: 'Source Sans Pro', sans-serif;
$quick: 'Quicksand', sans-serif;

$sec-pad: 50px 0;
