$blue: #1998df;
$dark: #393939;
$sea: #25dddc;
$gray: #ccc;
$f2: #f2f2f2;
$f6: #f6f6f6;
$f7: #f7f7f7;
$f8: #f8fafb;
$f9: #f9f9f9;

$plum: #A64AC9;
$purple: #8860D0;
$burg: #B23850;
$teal: #70D9BA;
$btn1: #3dfbfd;
$btn2: #33acf3;
$fun: #305ed5;
$orange: #f07836;

$dk-blue:#0f6da8;
$nblue:#21c3fc;
$ngray:#4d4d4d;

$open: 'Open Sans', sans-serif;
$source: 'Source Sans Pro', sans-serif;
$cant: 'Cantarell', sans-serif;
$quick: 'Quicksand', sans-serif;

$sec-pad: 50px 0;
