@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700|Open+Sans:400,600,700|Source+Sans+Pro:400,600,700');
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "mixins";
@import "variables";

@import "uikit";
@import "uikit-variables";
@import "uikit-components";


.uk-accordion-title {margin-bottom:0;}
.uk-accordion>:nth-child(n+2) {margin-top: 0;}


.tmargin0 { margin-top: 0; }
.bmargin0 { margin-bottom: 0; }
.bmargin5 { margin-bottom: 5px; }
.pleft0 { padding-left: 0px; }
.pright0 { padding-right: 0px; }
.bpadding0 { padding-bottom: 0; }
.ptop0 { padding-top: 0px; }
.f-right {float: right;}

p, h5, h4, h3, h2, h1, a, li {font-family: $quick; line-height: 1.4em; color: black;
  &.wide {letter-spacing: 1.5px;}
  &.upper {text-transform: uppercase;}
  &.white {color: white;}
  &.black {color: black;}
  &.dark {color: $dark;}
  &.red {color: $red;}
  &.blue {color: $blue2;}
  &.quick {font-family: $quick;}
}
h3, h2 {margin-top:0px;}
p{font-size: 16px;}
h1,h2,h3 {font-family: $open;}
body{background-color: $f9;}
ul{list-style-type: none; padding-left:0;}
a:hover {text-decoration: none; opacity: .7;}

.center-block {@include center-block();}

.scroll-up {
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 15px;
  right: 100px;
  display: none;
  text-indent: -9999px;
  @include sec-bgimage('arrow.png');
  background-size: 80%; background-position: top center;
  z-index: 100;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  visibility:hidden;
  background-color: $blue;

  @include bp(tb) { left: 20px;visibility:visible; }
  @include bp(tn) { left: 6px; width: 25px; height: 25px;background-size: 75%;
  }
  // @include bp(sm) { left: 15px; }
}
.ft-block.menu li {margin-bottom: 10px;}

.full {@include sec-default(); padding: $sec-pad;}
.wrap {width: 90%; @include center-block();}
.wrap-less {width: 85%; @include center-block();}

.breadcrumb {text-transform: capitalize; margin-top:0; color: $gray; background-color: transparent;}


.ftcall-block {@include sec-default();
  padding: 30px; text-align: center;
  background: -webkit-linear-gradient(-200deg, darken($nteal, 10%), $nteal);
  background: linear-gradient(-200deg, darken($nteal, 10%), $nteal);
  .inner {width: 55%; @include center-block();}
  p {color: white; font-size: 22px; font-weight: 600; font-family: $open;  margin-bottom: 0;}
  h4 {font-size: 25px; font-weight: bold; margin-top: 5px;}
  #number_link{color: $blue2; text-shadow: 0px 1px 1px white;font-family: $open;}

  @include bp(dt) {.inner {width: 45%; }}
  @include bp(tb) {padding: 20px 30px 15px;
    p {font-size: 19px;}
    h4{font-size: 22px;}
  }
  @include bp(tn) {
    padding: 20px 20px 10px;
    .inner {width: 75%;}
    p {font-size: 18px;}
    h4 {font-size: 20px;}
  }
  @include bp(oc) {
    padding: 15px 20px 10px;
    .inner {width: 98%;}
    p {font-size: 16px;}
    h4 {font-size: 18px;}
  }
  @include bp(sm) {
    padding: 15px 10px 10px;
    .inner {width: 99%;}
    p {font-size: 15px;}
    h4 {font-size: 17px;}
  }
}

.site-footer { @include sec-default(); background-color: white; padding-top: 20px;
  h4 {font-weight: bold; color: $dk-blue; font-size: 16px; letter-spacing: .5px; margin-bottom: 0; margin-top: 10px;}
  .inner-ft {width:90%; @include center-block();}
  .ft-final {@include sec-default();}
  .ft-block {display: inline-block; float: left; width: 49%;
    &.cancel {float: right;
      p{font-size: 14px; margin-top: 7px;}
    }

    .logo-block{width:275px; margin-bottom: 15px;}

    li {display: inline-block;
      position: relative; z-index: 1;
      &::before {@include before(); width:5px; height:5px; border-radius: 50%; top:44%; left:-5%; background-color: $blue2;}
      a {font-size: 15px;padding: 0 12px;}

      &:first-child {margin-left: 0;
        &::before{display: none;}
      }
    }
    li.ft-only {display: none;}
    li.ft-only.mfl {display: block; }
  }

  .copy {@include sec-default(); text-align: center; padding: 5px 0; background-color: $blue; margin-bottom: 0; color: white;}

  @include bp(dt) {
    .inner-ft {width:85%;}
    .ft-block {width:45%;}
  }

  @include bp(tb) {
    .ft-block{
      &.menu, &.cancel {@include sec-default(); text-align: center;
        .logo-block, .ft-menu {@include center-block(); width:auto;}
        .logo{width: 200px; @include center-block();}
        .ft-menu {border-bottom: 1px solid rgba($dark, .1); padding-bottom: 8px;}
        h4{margin-top: 0}
      }
    }
  }

  @include bp(tn) {
    .inner-ft {width:95%;}
    .ft-block {
      li a {font-size: 14px;}
    }
  }

  @include bp(ph) {
    .ft-block{
      &.menu .ft-menu {display: none;}
      h4 {font-size: 15px;}
    }
  }

}

.msg-bx {@include sec-default();
  .alert {width: 85%; @include center-block(); margin-top: 20px;}
}
.panel-danger.err{width: 85%; @include center-block();}

// FOR DEVISE
.registrations, .sessions, .passwords, .confirmations {
  .new, .edit {
    .full{padding-top:20px;}
  }
}


.states, .towns, .clinics, .locations, .chatrooms, .conversations, .users, .personal_messages {
  hr.title-line {width:15%; border-top: 3px solid $blue; margin-bottom:30px;}
  .cancel-link {font-weight: bold; text-align: center; margin-left: 20px; }
  .btn-add, .back-link {float: right; font-size: 14px; color: white; background-color: $dark; padding: 5px 15px 6px; text-align: center; border-radius: 4px;
    &.inline {margin-left: 10px; }
    &:hover {opacity: .7; }
  }
  .btn-danger {display: inline-block; float: right; padding: 5px 15px; margin-left:10px;}
  h1 {font-size: 2.2em;
    span{font-weight: bold;}
  }

  .shared-text {
    a, span {color: $blue;}
  }
  .add-btns-blk {width:75%; @include center-block();}
}
.all-states, .all-clinics {@include sec-default(); padding: $sec-pad;
  .state-name {font-weight: bold; }
  .state-name a {text-transform: capitalize;}
  td.actions{float: right; margin-left: 20px; margin-top: 3px;}

  .top {@include sec-default();}
}

.all-towns h4.state-name{text-transform: capitalize;}
.towns.show h4 {line-height: .8em;}


.towns .wrap.clinics{@include sec-default(); padding:50px 0; text-align: center;}
.clinic-bx {display: inline-block; width:30%;
  h4 {font-weight: bold; line-height: 1.5em; font-size: 18px; text-transform: capitalize;}
}
.townlisting-bx {@include sec-default(); margin-bottom: 25px;
  h4 {font-weight: bold; line-height: 1.5em; font-size: 18px; text-transform: capitalize; margin-bottom:5px;}
}

@include bp(md) {
  .clinic-bx {width: 75%; @include center-block();}
}

.location-map{
  p{margin-bottom: 5px;}
  .actions { a{font-weight: bold; color: blue;}}
}

.btn.btn-outline-secondary.search {background-color: $blue; color: white;}

.locations.new, .locations.update{
  .state-form, .location-import {display: inline-block; width: 40%;}
  .state-form {margin-left: 10%;}
  .location-import {float: right;}
  .forminfo {margin-bottom: 20px;}
}

