@import "mixins";
@import "variables";

.site-header { @include sec-default();}
.header-wrapper {@include sec-default();
	.top, .full { @include sec-default();}

	.top{padding:10px 0; background-color: white;}
	.logo-block {@include sec-grid(left, 25%); padding:10px 0 5px; }
	.call-block {@include sec-grid(right, 25%); margin-top: 20px;
		i {display: inline-block; float: left; width:34px; height: 34px; color: $gray; font-size: 15px; border:1px solid $gray; border-radius: 50%; text-align: center; line-height: 2.2em; margin-top: 5px; margin-right: 10px;}
		p, h4{line-height: 1em; margin: 0;}
		p{color: $gray;font-size: 15px;}
		h4 {color: $blue; font-weight: 600; font-size: 23px;line-height: 1.2em;}
	}

	.full {background-color: $f6; padding: 15px 0 5px;}
	.mainu{@include sec-grid(left, 75%);}
	.add-menu{@include sec-grid(right, 15%); padding-top:4px;}
	.nav-link, .add-link{font-size: 16px; color: $blue; text-transform: uppercase; letter-spacing: 1px}
	.nav-li {display: inline-block; float: left; margin: 0px 15px;
		&:first-child {margin-left:0;}
		&:hover .nav-link {opacity: .7;}

		&.ft-only {display: none;}
	}

	.add-link{font-size: 15px;border: 1px solid rgba($blue, .5); padding:10px; border-radius: 4px;
		&:hover {opacity: .7;}
	}

	@include bp(nn) {
		.full{display: none;}
		.logo-block {@include sec-grid(left, 40%); margin-left: 5%; }
		.call-block {@include sec-grid(right, 30%);text-align: center;
			i {display: none;}
		}
	}

	@include bp(md) {
		.logo-block{margin-left: 0; width: 35%;}
	}

	@include bp(md) {
		.top{padding:0;}
		.logo-block, .call-block, .wrap {@include sec-default(); text-align: center;}
		.logo-block{width: 60%;@include center-block();}
		.call-block{background-color: rgba($blue, .2); padding: 10px; margin-top:5px;
			p{color:$dark;}
		}
	}
}

#nav {@include sec-default();
  position: relative;
  z-index: 555;
  &.stick { position: fixed;}
  a.site-nav__link{color: black;}
}

#nav.full {@include ease(); top:95px;
  &.stuck { top:0;}
}

#offcanvas-toggler {
	width: 40px; float:right; background-color:white; padding: 7px 0 5px; text-align: center; border-radius: 2px; border: 1px solid $blue; display:none;
  span {content: '';@include center-block (); display: block; margin-bottom: 4px; width: 25px; height: 3px; border-radius: 2px; background-color: $blue;}

  @include bp(nn) {display: inline-block;}
}
.offcanvas-menu .offcanvas-inner .module ul > li > a:hover{color:white; background:$blue}
.offcanvas-menu .offcanvas-inner .module .menu .nav-child a{padding:4px 25px}
.offcanvas-menu .menu ul li{position:relative}

.close-offcanvas{position:absolute; top:15px; right:15px; z-index:1; color:white; border:2px solid #eee; border-radius:100%; width:22px; height:22px; line-height:18px; text-align:center; font-size:12px}
.close-offcanvas:hover{background:black; color:white}
.offcanvas-menu{width:280px; height:100%; background:darken($blue, 10%); color:white; position:fixed; top:0; opacity:0; z-index:9999; overflow-y:scroll;
  .offcanvas-inner{padding:20px;}
  .module{margin-top:20px;
    ul{margin:0 -20px;
      li { margin-bottom:15px; padding-bottom:5px; padding-left: 15px; border-bottom:1px solid rgba(white, .4);
        a { -webkit-transition:300ms; -o-transition:300ms; transition:300ms; padding:7px 0; padding-left:0px; color: white; font-size: 15px; line-height: 1.5em;}
        a:hover{background:transparent;}
        &:first-child{margin-top:0}
      }
    }
  }
}

.offcanvas-menu{-webkit-transition:opacity 400ms cubic-bezier(0.7,0,0.3,1),right 400ms cubic-bezier(0.7,0,0.3,1); transition:opacity 400ms cubic-bezier(0.7,0,0.3,1),right 400ms cubic-bezier(0.7,0,0.3,1)}
.body-innerwrapper:after{right:0}
.offcanvas-menu{right:-280px}
.offcanvas .offcanvas-menu{right:0}
.body-innerwrapper:after{position:absolute; top:0; width:0; height:0; background:rgba(black, 0.8); content:''; opacity:0; -webkit-transition:opacity 0.5s,width 0.1s 0.5s,height 0.1s 0.5s; transition:opacity 0.5s,width 0.1s 0.5s,height 0.1s 0.5s; z-index:999}
.offcanvas{width:100%; height:100%; position:relative}
.offcanvas .body-innerwrapper:after{width:100%; height:100%; opacity:1; -webkit-transition:opacity 0.5s; transition:opacity 0.5s}
.offcanvas .offcanvas-menu{opacity:1}
.menu .nav-child.small{font-size:inherit}
h3.module-title{color: white;}
.menu .nav-child.small{font-size:inherit}




.header-style2 {@include sec-default(); text-align:center;
	// border-bottom: 1px solid rgba($blue, .2);
	box-shadow: 1px 2px 1px rgba($blue, .2);
	.inner {@include sec-default(); padding: 5px 30px 10px;}
	.left, .nav-mid, .right-call-block { display:inline-block; width:20%;}
	.left{ float:left;}
	.nav-mid {width: 56%; margin-left: 6%; margin-top:3%; float:none;}
	.right-call-block { margin-top:30px; float:right; width:18%;
		p, h4{line-height: 1em; margin: 0;}
		p{color: $dark;font-size: 15px;}
		h4 {color: $blue; font-weight: 600; font-size: 22px;line-height: 1.2em;}
	}

	.nav-link, .add-link{font-size: 16px; color: $blue; text-transform: uppercase; letter-spacing: 1px}
	.nav-li {display: inline-block; float: left; margin: 0px 15px;
		&:hover .nav-link {opacity: .7;}
	}

	.add-link{font-size: 15px;border: 1px solid rgba($blue, .5); padding:10px; border-radius: 4px;
		&:hover {opacity: .7;}
	}

	@media (max-width:1286px) {
		.right-call-block { margin-top: 20px;}
		.nav-mid {width: 58%; margin-left: 4%;}
	}

	@media (max-width:1191px) {
		.nav-mid {width: 62%; margin:1.5% 0 0 2%;}
		.right-call-block {margin-top:15px; width:15%;
			h4{font-size: 19px;}
		}
		.nav-link {font-size:15px;}
	}

	@media (max-width:1080px) {
		.nav-li{float:none;}
		.nav-mid {@include sec-default(); text-align: center;}
		.left {width: 25%; margin-left: 40%;}
		.right-call-block{width: 20%;
			h4{font-size: 21px;}
		}
	}

	@include bp(nn) {
		.nav-mid{display: none;}
		.left{margin-left: 0; width: 40%;}
		.right-call-block{float: left; width: 30%; }
		.mtog {display: inline-block;float: right;width: 30%; margin-top:20px;}

		.logo-block {width: 230px;}
	}

	@include bp(tn) {
		.left{ width: 40%;}
		.right-call-block{ width: 30%; margin-left:5%;
			h4{font-size: 20px;}
		}
		.mtog {width: 20%; margin-top:20px;}

	}

	// @include bp(mb) {
	// 	.right-call-block{ width: 40%; margin-left:10%;
	// 		h4 {font-size: 19px;}
	// 	}
	// 	.mtog {width: auto; margin-top:20px;}
	// }

	@include bp(mb) {
		.left{ @include sec-default(); }
		.logo-block{@include center-block();}

		.right-call-block, .mtog {width: auto; }
		.mtog {margin-right:5%;}
		.right-call-block{
			p{font-size: 14px;}
			h4 {font-size: 19px;}
		}
	}

}








