// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";
@import "variables";

.inner {width: 85%; @include center-block();}
hr.hlf {width:25%; @include center-block(); border-top:1px solid #ddd;}

.home .pg-body{
	.breadcrumb {display: none;}
	.hero-home { text-align:center;
		@include sec-default(); background-color: white; padding-top: 45px; height:700px;
		@include sec-bgimage('hero.jpg');height:600px; background-position: left center;

		h1,h2,h3{font-weight: bold; text-shadow:0px 1px 1px rgba(black, .65); margin-bottom: 0; font-family: $open;}
		h1 {margin: 0px;
			text-transform: uppercase; color: $blue; font-size: 45px;}
		h2 {font-size: 35px; }
		h3 {font-size: 25px; }

		position: relative; z-index: 0;
		&::before {@include before(); height: 15%; top:85%;
			background: -webkit-linear-gradient(270deg, rgba(white, 0) 10%, rgba(white, .7) 55%, white 85%);
			background: linear-gradient(180deg, rgba(white, 0) 10%, rgba(white, .7) 55%, white 85%);
		}

		.wrap-new{width: 45%; float: right;
			.h1-img {width: 55%; @include center-block();}
			h2,h3,a {color:white;}
			h2 {margin-bottom: 20px;}
		}
	}

	.dna-dos {@include sec-default(); background-color: white;
		padding:100px 0; text-align: center;
		h3{font-size: 28px; line-height: 1.5em; font-weight: bold;}
		p{font-size: 24px; margin-bottom: 30px;}

		.link-a{@include purple-btn(60%); padding:10px 25px;
			background: -webkit-linear-gradient(-102deg, darken($red, 15%) 19%, lighten($red, 8%) 81%);
			background: linear-gradient(12deg, darken($red, 15%) 19%, lighten($red, 8%) 81%);
		}
		.img-layer{position: absolute; z-index: 2; width: 110px;@include rotate(-20deg); margin-left:22.5%; margin-top: -2.7%; opacity: .4;}
		.tb {width:55%; @include center-block(); position: relative; z-index: 5;}
	}

	.legal-lt {@include sec-default(); background-color: $f9; padding:60px 0 80px;
		.left {@include sec-grid(left, 50%); margin-left: 8%; margin-top: 8%; }
		.right {@include sec-grid(left, 30%); margin-left: 5%;}
		padding:20px 0 0;
		// .left {@include sec-grid(left, 40%); margin-left: 8%; margin-top: 35px;}
		// .right {@include sec-grid(left, 47%); margin-left: 5%;}

		.abs {position: absolute; width:35%; margin-top:-3.5%; right:0;}

		p {font-size: 17px; margin-bottom:20px;
			span {font-weight: 500;}
		}
		h2 { line-height: 1.5em;
			span{font-size:28px;font-weight: bold; letter-spacing: 1px;}
		}
		.link-a{@include purple-btn(35%);float: left; margin-left: 5%;
			background: -webkit-linear-gradient(-102deg, darken($blue, 15%) 19%, lighten($blue, 8%) 81%);
			background: linear-gradient(12deg, darken($blue, 15%) 19%, lighten($blue, 8%) 81%);
		}

		// @include sec-bgimage('m39.png'); background-size: 45%;
		// .left{float: right; margin-left: 0; width: 42%;}
		// .right {float: none; margin-left:23%; width: 35%; margin-top: -13%;}
	}

	.call-block{
		@include sec-default(); text-align: center;padding:$sec-pad;
		// background: -webkit-linear-gradient(-300deg, darken($blue, 15%), $blue);
		// background: linear-gradient(-300deg, darken($blue, 15%), $blue);
		background-color: $teal;
		h3{color: white; font-weight: bold; letter-spacing: 1px; font-size: 21px;}

		.img-icon {width:120px; @include center-block();}

		padding-bottom: 90px;
		#number_link{color: white;}
	}

	.homekit { @include sec-default(); padding-bottom: 35px; background-color: white;
		border-bottom: 15px solid $f6;
		// padding:60px 0;
		.left {@include sec-grid(left, 30%); margin-left: 10%; margin-top: -10%;}
		.right {@include sec-grid(none, 40%); margin-left: 10%; margin-top: 3.5%; }
		.link-a{@include purple-btn(40%); float:left;
			background: -webkit-linear-gradient(-102deg, darken($blue, 15%) 19%, lighten($blue, 8%) 81%);
			background: linear-gradient(12deg, darken($blue, 15%) 19%, lighten($blue, 8%) 81%);
		}
		h2{font-size:27px; font-weight: bold;}
		p{font-size: 18px; }
	}

	.us { @include sec-default(); padding: $sec-pad; background-color: $f2;
		// @include sec-bgimage('preview11.png'); background-size: 35%; background-position: left center;
		.one, .two, .three {@include sec-grid(left, 30%); margin-left: 1%;}
	}


	@include bp(tb) {
		.hero-home {height: 550px;}

		.dna{background-size: 40%;
			.right {@include sec-grid(right, 50%); margin-right:10%; padding: 70px 0;}
			h3 {font-size: 18px}
		}

		.legal-lt {padding:45px 0 60px;
			.left {@include sec-grid(left, 45%); margin-left: 0; margin-top: 15px;}
			.right {margin-left: 0; float: right;}
			.link-a {width: 50%; font-size: 16px;}
			h2{font-size: 19px;
				span {font-size: 21px;}
			}
			p{font-size: 16px;}
		}

		.call-block{padding:30px 0 35px;
			h3 {font-size: 19px;}
		}

		.homekit {padding-bottom: 0px;
			.left {width: 30%; margin-top: -6%; margin-left:0;}
			.right {margin-left: 5%; width: 60%;}
			h2 {margin-bottom: 0px;}
			p {font-size: 16px; margin-top: 6px;}
		}
	}

	@include bp(tn) {
		.hero-home {height: 350px; background-position: left center; padding-top: 30px;
			.wrap{width: 70%; float: right;}
			h1 {font-size: 32px; line-height: 1em;}
			h2 {font-size: 30px; line-height: 1em;}
			h3 {font-size: 21px;}
		}

		.dna{background-size: 40%;
			.right {@include sec-grid(right, 55%); margin-right:5%; padding: 50px 0 65px;}
			h3 {font-size: 16px}
			.link-a {font-size: 15px; padding:10px 15px;}
		}

		.legal-lt {padding:20px 0 15px;
			.left {width: 75%; @include center-block(); text-align: center;}
			.right {@include center-block();}
			.link-a {width: 40%;@include center-block(); font-size: 15px; padding:6px 10px;}
			h2{font-size: 17px; margin-bottom: 0;
				span {font-size: 19px;}
			}
			p{font-size: 15px; margin: 5px 0 10px;}
		}

		.call-block{padding:25px 0 20px;
			h3 {font-size: 17px;}
		}

		.homekit {padding-bottom: 0px;
			.left {width: 30%; margin-top: -6%; margin-left:0;}
			.right {margin-left: 3%; width: 65%;}
			h2 {font-size: 21px}
			p {font-size: 15px; margin-top: 3px;}
			.link-a {font-size: 15px; padding:7px 10px;}
		}
	}

	@include bp(md) {
		.hero-home {height: 300px; }

		.dna{background-size: 30%; background-position: left top;
			.right {@include sec-grid(right, 60%); padding: 30px 0 40px; text-align: left;}
			h3 {font-size: 16px}
			.link-a {font-size: 15px; padding:10px 15px;}
		}

		.legal-lt {padding:10px 0 25px;
			.left {width: 75%; @include center-block(); text-align: center;}
			.right {display: none;}
		}

		.homekit {padding-bottom: 0px;
			.left {width: 30%; margin-top: -6%; margin-left:0;}
			.right {margin-left: 3%; width: 65%;}
			h2 {font-size: 21px}
			p {font-size: 15px; margin-top: 3px;}
			.link-a {font-size: 15px; padding:7px 10px;}
		}
	}

	@include bp(mb) {
		.hero-home {
			&::after{@include before(); background-color: rgba($dark, .3); z-index: -2}
		}

		.dna{background-size: 25%; background-position: bottom right;
			.right {@include sec-grid(left, 75%); }
			h3 {font-size: 15px}
			.link-a {font-size: 14px; padding:6px 15px;}
		}

		.call-block {padding:15px 0 6px;
			.inner{width: 90%;}
			h3 {font-size: 16px;}
		}

		.legal-lt .left {width: 98%;}

		.homekit {padding: 10px 0;
			.inner {width: 90%;}
			.left {width: 25%; margin-top: 15px;}
			.right {margin-left: 0; float: right; width: 70%;}
			h2 {font-size: 19px}
			.link-a {font-size: 14px; padding:5px 10px;}
		}
	}

	@include bp(ph) {
		.hero-home {height:200px;
			// background-position: top left;
			&::after{background-color: rgba($dark, .45);}
			.wrap{@include sec-default(); }
			h1,h2,h3{text-shadow:0px 0px 1px rgba(black, .9);}
			h1{font-size: 28px; color: lighten($blue, 10%)}
			h2 {font-size: 22px;}
			h3{font-size: 19px; margin-top: 10px; color: white;}
		}

		.dna{background-size: 20%;
			.inner {width: 90%;}
			.right {@include sec-grid(left, 95%); padding: 20px 0;}
		}
		.call-block br.uno{display: none;}
		.legal-lt .inner{width: 90%;}

		.homekit {padding: 10px 0;
			@include sec-bgimage('test-kit-mob.png'); background-size: 33%; background-position: bottom right; padding-bottom:80px;
			.left {display: none;}
			.right {float: left; width: 95%;}
			h2 {font-size: 17px}
		}
	}
}

.home-test {
	.top-sec {
		@include sec-default(); padding:45px 0 60px; background-color: white;
		position: relative; z-index: 0;
		&::before {@include before(); height:55%; background-color: $blue2;}
		.inner {width:65%}

		.intro {width: 65%;
			h1, h3, p {color: $f7;}
			h1 {font-size: 26px; font-weight: bold; letter-spacing: .5px; margin-bottom: 0;}
			h3 {font-weight: 500;letter-spacing: .5px; }
			p{font-size: 18px; line-height: 1.5em;}
		}
		.left, .right {@include sec-grid(left, 50%);}
		.right {width: 37%; float:right; }
		.left{ margin-left: 5%; margin-top: 7%;}
		p.call-add {font-weight: bold; padding-top:15px;
			a {color: $blue;}
		}

		.price-box {
			@include sec-default(); background-color: $f7;
			padding: 30px; margin-top:35px; box-shadow: 0 0px 30px rgba(black, .2);
		}

		.pricing, .call {padding-left:15px;
			h4 {font-weight: bold; margin-bottom: 5px; }
			h3 {font-size: 21px; font-family: $quick;margin-bottom: 0px;
				span{font-family: $open; font-weight: bold; font-size: 23px; color: $blue2;}
			}
			p{margin: 0 0 5px; font-size: 18px; padding-left: 10px;
				b{font-family: $open; color: $blue2}
				span {font-style: italic; font-weight: normal; font-size: 16px;}
			}
			label {font-weight: normal; margin-bottom: 20px;}
		}
		.stripe-button-el { width: 55%;
			background: -webkit-linear-gradient(-102deg, darken($btn1, 25%) 19%, darken($btn1, 20%) 81%);
			background: linear-gradient(12deg, darken($btn1, 25%) 19%, darken($btn1, 20%) 81%);

			border-radius: 0px;
			&:hover {opacity: .7;}

			span {font-size: 18px; font-family: $quick; font-weight: bold; background:transparent;
				line-height: 1.6em; box-shadow:none; height:auto;padding: 5px 0;
			}
		}

		@include bp(dt) {
			// background-size: 50%;
			// .inner{@include center-block();}
			// .left, .right {width: 45%;}
			// .right {width: 28%; margin-left: 10%; }
			// .left{margin-top:0; margin-left: 8%}
		}

		@include bp(tb) {
			background-size: 45%;
			padding:30px 0 10px;
			h1 {font-size: 22px;}
			h3{font-size: 16px;}
			.right {width: 30%; margin-left: 0; }
			.left{padding:15px 0; margin-top: 0px; width:50%;}
			.stripe-button-el { width: 45%;}
		}

		@include bp(nn) {
			background-image: none; padding-bottom: 0;
			.inner{@include center-block(); width: 90%;}
			.left{width: 55%; margin-left:7%; float: left;}
		}

		@include bp(tn) {
			padding-top:20px;
			.inner {width: 95%;}
			.left {padding:0;
				width:65%; margin-left: 3%;
				h3,p{font-size: 15px; margin-bottom:10px; }
				.pricing p b{font-size: 19px;}
				.stripe-button-el span{font-size: 16px;}
			}
		}

		@include bp(pl) {
			padding-bottom: 20px;
			.left{ width: 70%;}
			.right {width: 25%; margin-top:4%; margin-right: 2%;}
		}
		@include bp(ph) {
			@include sec-bgimage('test-kit-slide.png'); background-position: bottom right; background-size: 28%;
			padding-bottom: 75px;
			.left {width: 85%; @include center-block();}
			.right {display: none;}
			// .right{float: right; margin-top: 0; width: 30%;}
		}

		@include bp(sm) {
			background-size: 30%; padding-bottom: 120px;
			.left{width: 95%;}
		}
	}

	.banner{@include sec-default(); text-align: center; padding: 30px 20px;
		background-color: $nteal; margin-top: 30px;

		h3 {color: white; font-size: 22px; margin-bottom: 5px; font-weight: bold;}
		p {color: white; font-size: 18px; margin-top: 0;}

		@include bp(tn) {
			height:140px;
			h3 {font-size: 19px;margin-bottom: 3px;}
			p{font-size: 16px;}
		}
		@include bp(mb) {
			padding:20px 10px;
			height:auto;
			h3 {font-size: 17px;}
			p{font-size: 15px;}
		}

		@include bp(sm) {height:auto; padding: 20px 10px 5px;}
	}

	.inst{@include sec-default();
	 	padding:40px 0; background-color: $f7;
		// @include sec-bgimage('ribbon-bg-rev.png'); background-size: 60%; background-position:bottom left;

	 	// .inner {float: right; width: 65%;}
		.step{display: inline-block; float: left;
		 	margin-bottom: 30px;
		 	background-color: $f8;
		 	padding: 10px 20px;
		 	width: 40%; height:225px;
		 	margin-left: 5%;
		 	border-radius: 2px;
		 	box-shadow: 0px 1px 20px rgba(black, .1);
			// &.one, &.two {margin-top: -4%}
			&.four, &.two {margin-left: 7%}

			p {margin-top: 20px; text-align: center;}
		}
		h4{font-weight: bold; font-family: $source; font-size: 25px;color: darken($blue, 15%); margin-top:5px; margin-bottom:0px;}
		h4.lb{font-weight: bold; margin-top:6px; font-family:$quick;color: white; font-size: 18px;
			position: relative;z-index: 0;
			&::before {@include before(); background-color: $f2;
				background-color: lighten($blue, 20%);
			 	box-shadow: 0px 1px 10px rgba(black, .1);
				height:130%; margin-top: -1%;
				width:120%; left:-10%;
			}
		}

		.icon-qt{height:215px; display: inline-block;float: left; margin-right: 5px;}

		// @include bp(dt) {
		//  	.inner { width: 60%;}
		// 	.step{ margin-left: 5%; width: 40%;}
		// 	h4.lb::before{width:125%; left:-20%;}
		// }

		@include bp(tb) {
			background-size: 70%;
			h4 {font-size: 21px;}
			h4.lb {font-size: 16px;}
			.inner {width: 75%;}
		}

		// @media screen and (max-width: 900px) {background-image: url(image_path('ribbon-rev-sm.png'));}

		@include bp(tn) {
			background-image: none;
			padding-bottom:30px;
			.inner {@include center-block(); width:95%}
			.step {height: 210px; width:48%;
				&.one, &.three {margin-left: 0;}
				&.four, &.two {margin-left: 0; float: right;}
			}
			h4 {font-size: 19px;}
			h4.lb::before{width: 118%; left:-9%;}
		}

		@media screen and (max-width: 735px) {
			padding-bottom:0;
			.step{
				width: 90%; height:auto;
				p{text-align: left;}

				&.two{margin-top: 0;}
			}
			h4{margin-bottom:10px;}
			h4.lb{padding-top: 2px;}
			h4.lb::before{margin-top:0; height:130%; width:104%; left:-6%; }
		}

		@include bp(mb) {
			.step.one{margin-top: 20px;}
		}

		@include bp(sm) {
			.step{
				&.one,  &.two, &.three, &.four{
					width:100%; @include center-block();
				}
			}
		}
	}
}

.options {

	.color-hd{@include sec-default();	background: white; padding: 60px 60px 40px;
		position: relative;z-index: 0;
		h1 {color: $blue; font-size: 2.2em;letter-spacing: .5px; text-transform: uppercase; font-weight: 500; margin-bottom: 10px; font-family: $quick;}
		h2{margin-top:20px; margin-bottom: 0px; font-size: 20px; font-weight: 600;}
		p{margin-top: 5px; }

		.text{ float: left; width: 55%; margin-left: 10%; }
		.img {display: inline-block; width: 25%; float: none; margin-left: 5%;
			position: relative;z-index: 0;
			&::before {@include before(); height:110%;
				@include sec-bgimage('pattern12.png'); background-size: 50%; background-position: top right; left:20px; top: -8.7%;
				background-repeat: repeat-y;
			}
		}

		// .text{display: inline-block; width: 45%;float: left; margin-left: 10%; padding:20px 0 40px;}
		// .img {display: inline-block; width: 35%; float:right; margin-top: -1%; margin-right:4%;}

		@include bp(tb) {
			.text{ width: 50%; margin-left: 5%; }
			h2 {font-size: 21px;}
			p{margin: 10px 0;}
		}

		@include bp(tn) {
			padding:20px 50px 20px 30px;
			h1{font-size: 1.9em; margin-bottom: 15px;}
			.text{ width: 70%; margin-left: 0; padding-right: 15px;margin-top: 15px;}
			.img {margin-left:0; width:30%}
			h2 {font-size: 19px;}
			p{font-size: 15px; margin: 0 0 10px;}
		}

		@include bp(pl) {
			.text{margin-top: 0;}
		}

		@include bp(mb) {
			h1{font-size: 1.5em;}
			h2{font-size: 17px;}
			p {margin-bottom: 5px;}
			padding:20px;
			.img {width: 27%; }
		}

		@include bp(sm) {
			h1 {margin-bottom: 5px;}
			.text{width: 100%; text-align: center;}
			.img{float: right;}
		}
	}

	.uk-modal-full.uk-modal {
		.uk-modal-dialog {
			//  @include sec-bgimage('balloon-babe.jpg'); background-size: 35%;
			// border-right: 12px solid #4650ae;
			height:100%;
			background-color: $blue;
			border-right: 12px solid $blue;

			&.frm {padding: 0; background-color: $blue;
				p{width:21%; display: inline-block; float: left; padding: 0px 15px; line-height: 1.6em; font-weight: 500; margin-top: 24%;
					color: white; font-size: 16px;
				}

				.inside {display: inline-block; padding: 30px 45px; background-color: white; height:100%;width:77%;overflow-y:scroll;}

				@include bp(dt) {
					p{ width:20%; padding: 20px 20px; margin-top: 22%; font-size: 18px; }
					.inside {width:80%; }
				}

				@include bp(nn) {
					background-size: 30%;
					p {width:25%; margin-top: 20%; font-size: 15px;}
					.inside {width:75%; padding: 30px; }
				}

				@include bp(mb) {
					background-image: none ;
					p {width:25%; margin-top: 10%; }
					.inside {width:75%; padding: 30px 15px; }
				}

				@include bp(ph) {
					margin-right:0;
					p {@include sec-default(); }
					.inside {@include sec-default(); overflow: visible; }
				}
			}
		}
		.uk-close.uk-icon::after {display: none;}
		.uk-modal-dialog > .uk-close:first-child {margin: 20px 50px 0 0 ;}
		@include bp(ph) {
			background-clip: white;
			.uk-modal-dialog{border-right:6px solid #4650ae;border-left:6px solid #4650ae;}
			.uk-modal-dialog > .uk-close:first-child {margin: 10px 15px 0 0 ;}
		}
	}

	.full-options {@include sec-default(); background-color: $f9; padding:60px 0;
		.list, .desc {@include sec-grid(right, 72%);}
		.list {width:25%;float: left;
			li{font-size:16px; border-bottom: 1px solid rgba($dark, .1);padding-bottom: 6px; margin-bottom: 20px;}
			li.uk-active {font-weight: bold;}
		}

		.opt-block{@include sec-grid(left, 47%); margin: 0 1.5% 30px; padding:30px 0 0;
			background-color: white; text-align: center;
			br.cst-br{display: none;}

			.img-layer{position: absolute; z-index: 2; width: 50px;@include rotate(-20deg);  margin-top: -.8%; opacity: .35;}
			h3 {font-size: 21px; color: $blue; font-weight: bold; font-family: $quick; letter-spacing: .5px; text-transform: uppercase; margin-bottom: 4px;
				position: relative; z-index: 0;
			}
			p.price{font-weight: bold; margin:0 auto 0;}

			.register, .uk-button-default, .show {display: inline-block; width:45%; float:left; margin-left:2.5%;
				font-size: 15px; font-weight: bold; letter-spacing: .5px; text-align: center; padding: 7px 15px;
			}

			.register {
				color: white;
				background: -webkit-linear-gradient(-30deg, darken($red, 15%), $red);
				background: linear-gradient(-30deg, darken($red, 15%), $red);
				&.solo {@include center-block();}
			}
			.uk-button-default, .show{color: white; font-family: $quick;min-height: auto; line-height: 1.4em;
				color: $blue;
				background-color: $f8; border:1px solid rgba($blue, .25);
				// background: -webkit-linear-gradient(-30deg, darken($blue2, 15%), $blue2);
				// background: linear-gradient(-30deg, darken($blue2, 15%), $blue2);
			}
			.dets{margin-top: 15px;}

			.tog-content{@include sec-default();margin-top:15px;
				p{margin-bottom: 0;}
			}

			.call-bx {@include sec-default(); padding: 15px 5px 15px;
				p{color: darken($nteal, 6%); font-weight: 500;}
			}
		}
	}
}

$new: #ccd1d9;
// .our_process {
// 	.hd-layers {@include sec-default();  background-color: $f6;
// 		height:500px;
// 		position: relative;z-index: 0;
// 		@include sec-bgimage('baby-pink.png');
// 		background-size: 70%; background-position: bottom right; overflow: hidden;

// 		&::before {
// 			position: absolute; z-index: -1;
// 			content: "";
// 			left:-10%; margin-top:-20px;
// 			width: 45%;
// 			height:94%;
// 			background-color: rgba($dk-blue, .99);
// 			// background-color: rgba(9,33,45, .99);
// 			-webkit-transform: skew(30deg, -18deg);
//       -moz-transform: skew(30deg, -18deg);
//       -o-transform: skew(30deg, -18deg);
//       -ms-transform: skew(30deg, -18deg);
//       transform: skew(30deg, -18deg);
// 		}

// 		&::after {
// 			position: absolute; z-index: -1;
// 			content: "";
// 			right:-10px;
// 			bottom:-20%;
// 			width: 60%;
// 			height:36%;
// 			background-color:  darken($plum, 15%);
// 			-webkit-transform: skew(-30deg, 10deg);
//       -moz-transform: skew(-30deg, 10deg);
//       -o-transform: skew(-30deg, 10deg);
//       -ms-transform: skew(-30deg, 10deg);
//       transform: skew(-30deg, 10deg);
// 		}

// 		.l1 {width: 33%; padding: 6% 0 0 2.5%;
// 			h1, h3 {font-weight: bold; color: white; text-transform: capitalize; @include tshadowl(rgba(black, .4));}
// 			h3 {padding-left: 15px; margin-bottom: 10px; }
// 			h1 {font-family: $open; font-size: 32px;}
// 		}

// 		@media screen and (max-width: 1255px) {
// 			background-size: 75%; background-position: bottom right;

// 			.l1 {
// 				width:36%;padding: 6% 0 0 1.5%;
// 				h1 {font-size: 30px;}
// 			}
// 		}

// 		@include bp(tb) {
// 			height:350px; background-size: 69%;
// 			&::before {left:-12%; width:50%}
// 			&::after {width: 65%;}
// 			.l1 {
// 				h1 {font-size: 25px;}
// 				h3 {font-size: 16px;}
// 			}
// 		}

// 		@include bp(nn) {
// 			.l1 {width: 40%;}
// 		}

// 		@include bp(tn) {
// 			height: 250px;
// 			&::after {display: none;}
// 			&::before {width: 60%; height:98%; margin-top:-27px; background-color: rgba(9,33,45, .97);}
// 			.l1 { padding-top: 3%; width:50%;
// 				h1 {font-size: 22px;}
// 				h3 {padding-left: 7px;}
// 			}
// 		}

// 		@include bp(sm) {
// 			background-size: 100%;
// 			// @include grayscale();
// 			height:auto;
// 			&::before{display: none;}
// 			.l1 {@include sec-default(); background-color: rgba(9,33,45, .8); padding: 20px; }
// 		}
// 	}

// 	.tbl-row {@include sec-default(); padding: 55px 0;background-color: white;
// 		.inner{width: 80%; }
// 		h4 {margin-bottom: 0px; font-weight: bold; font-size:17px; font-family: $open;}
// 		p{margin-top: 10px;}

// 		.f2,.f3 {display: inline-block;width: 33%; float: left; margin-left: 3%;}
// 		.f3 { width: 60%; margin-top:15px; }
// 		.f1 {@include sec-default(); padding-top:25px; margin-top:15px; border-top: 1px solid rgba($new, .3);}

// 		&.rev {	background-color: $f6;
// 			.f2 { width:25%;}
// 		}

// 		@include bp(dt) {
// 			padding: 75px 0;
// 			.inner{width: 75%; }
// 			.f2,.f3{ margin-left: 5%;}
// 			.f3 { width: 55%; }
// 		}

// 		@include bp(tb) {
// 			.inner {width: 90%;}
// 			.f2 {margin-top:2%; margin-left: 0;}
// 			.f3 { width: 64%; margin-left: 2%}

// 			&.reg {
// 				.f3 {float:right;margin-left: 0; padding: 0 10px;}
// 				.f2 {margin-left:0;}
// 			}
// 		}

// 		@include bp(tn) {
// 			padding:20px 0;
// 			.inner {width: 97%;}
// 			p{font-size: 15px;}
// 			h4 {font-size: 16px;}
// 			.f1 {padding-top:15px; margin-top: 7px;}
// 			.f3 { width:70%; padding: 0 15px;}


// 			&.reg {
// 				.f2 {width:30%; padding: 0 5px ; margin-top: 5%;}
// 				.f3{padding: 0 20px;}
// 			}

// 			&.rev {
// 				.f2 {margin-top: 3%}
// 			}
// 		}

// 		@include bp(mb) {
// 			&.reg, &.rev {
// 				.f2{width: 23%; margin-top:7%;}
// 				.f3 {width: 76%; margin-left: 0; padding: 0 15px;}
// 			}
// 		}

// 		@include bp(sm) {
// 			&.reg, &.rev {
// 				.f2{width: 30%; @include center-block(); margin-top:0; padding: 0;}
// 				.f3 {width: 95%; @include center-block(); }
// 			}
// 		}
// 	}

// 	.btcall-block {@include sec-default();
// 		padding: 30px; text-align: center;
// 		background: -webkit-linear-gradient(-200deg, darken($blue, 10%), $blue);
// 		background: linear-gradient(-200deg, darken($blue, 10%), $blue);
// 		.inner {width: 45%; @include center-block();}
// 		p {color: white; font-size: 21px; font-weight: bold;  letter-spacing: 1px;}
// 		h4 {font-size: 25px; color: $f6; font-weight: bold; font-family: $open;}
// 		#number_link{color: white;}

// 		@include bp(tb) {.inner {width: 65%; }}
// 		@include bp(tn) {
// 			padding: 20px 20px 10px;
// 			.inner {width: 75%;}
// 			p {font-size: 18px;}
// 			h4 {font-size: 20px;}
// 		}
// 		@include bp(tb) {.inner {width: 99%; }}
// 	}
// }

.our_process {

	.tbl-row {@include sec-default(); padding: 55px 0;background-color: white;
		.inner{width: 80%; }
		h4 {margin-bottom: 0px; font-weight: bold; font-size:19px; font-family: $open; color:darken($nteal, 6%); }
		p{margin-top: 5px;}
		h1 {font-size: 30px; }

		.f2,.f3 {display: inline-block;width: 33%; float: left; margin-left: 3%;}
		.f3 { width: 60%; margin-top:15px; }
		.f1 {@include sec-default(); padding-top:25px; margin-top:15px; border-top: 1px solid rgba($new, .3);}
		.fa {color: $red;}

		&.reg{padding:25px 0 0;
			h1{margin-bottom: 5px;}
			.f3 {margin-top: 40px;}
		}

		&.rev {	background-color: $f9;
			.f2 { width:25%;}
		}

		@include bp(dt) {
			padding: 75px 0;
			.inner{width: 75%; }
			.f2,.f3{ margin-left: 5%;}
			.f3 { width: 55%; }
		}

		@include bp(tb) {
			.inner {width: 90%;}
			.f2 {margin-top:2%; margin-left: 0;}
			.f3 { width: 64%; margin-left: 2%}

			&.reg {
				.f3 {float:right;margin-left: 0; padding: 0 10px;}
				.f2 {margin-left:0;}
			}
		}

		@include bp(tn) {
			padding:20px 0;
			.inner {width: 97%;}
			p{font-size: 15px;}
			h4 {font-size: 16px;}
			.f1 {padding-top:15px; margin-top: 7px;}
			.f3 { width:70%; padding: 0 15px;}


			&.reg {
				.f2 {width:30%; padding: 0 5px ; margin-top: 5%;}
				.f3{padding: 0 20px;}
			}

			&.rev {
				.f2 {margin-top: 3%}
			}
		}

		@include bp(mb) {
			&.reg, &.rev {
				.f2{width: 23%; margin-top:7%;}
				.f3 {width: 76%; margin-left: 0; padding: 0 15px;}
			}
		}

		@include bp(sm) {
			&.reg, &.rev {
				.f2{width: 30%; @include center-block(); margin-top:0; padding: 0;}
				.f3 {width: 95%; @include center-block(); }
			}
		}
	}

	.btcall-block {@include sec-default();
		padding: 30px; text-align: center;
		background: -webkit-linear-gradient(-200deg, darken($nteal, 10%), $nteal);
		background: linear-gradient(-200deg, darken($nteal, 10%), $nteal);
		.inner {width: 45%; @include center-block();}
		p {color: white; font-size: 22px; font-weight: 500;  letter-spacing: 1px;}
		h4 {font-size: 25px; color: $f6; font-weight: 500; font-family: $open;}
		#number_link{color: white;}

		@include bp(tb) {.inner {width: 65%; }}
		@include bp(tn) {
			padding: 20px 20px 10px;
			.inner {width: 75%;}
			p {font-size: 18px;}
			h4 {font-size: 20px;}
		}
		@include bp(tb) {.inner {width: 99%; }}
	}
}

.states {
	#map {height:450px;}

  .header-wrapper {position: relative;z-index: 1;}
  .tfw {@include sec-default(); padding-bottom:12px;}
  td.print {padding-left: 30px;}
  h4.state-name {margin-bottom: 5px; }
  p.info{font-size: 13px; margin: 0;}

	.all-states { padding:0;
		.newlist {@include sec-default(); padding: 60px; text-align: center;
			@include sec-bgimage('mag-chromes.png'); background-position: top right; background-size: 35%;

			h1{color: $blue; font-weight: 600;}
			h2 {font-size: 20px; font-weight: 600;margin-bottom: 0;}
			p{margin-top:5px; font-size:18px; line-height: 1.6em;}

			.cont {width: 55%; @include center-block();}
			.states-dd {width: 38%; @include center-block();}
			.dropdown {@include sec-default(); border: 1px solid darken($f2, 5%); }
			.btn-secondary.dropdown-toggle {@include sec-default(); font-size: 20px; padding: 10px 0;background-color: $blue;border-radius: 0; color: white; font-weight: 500; letter-spacing: .5px;
				i {margin-left: 10px; margin-top: 7px;}
			}
			.dropdown-menu {max-height: 350px; overflow-y:scroll; padding-top:15px;}
			.dropdown-item {@include sec-default(); margin-bottom: 10px; padding:5px 10px;
				font-size: 18px; line-height: 1.8em;
				.state-icons{width: 30px; display: inline-block; float: left; margin-right: 10px; margin-left: 5%;}
			}
		}

		.opt-block {@include sec-default(); padding: 60px 0; background: white;text-align: center;
			.inner {width: 75%;}
			.one {@include sec-grid(left, 45%); margin-top: 8%; margin-left:5%;}
			.two {@include sec-grid(left, 35%); margin-left: 5%; }
			p{font-size: 18px; line-height: 1.6em; }

			.test-row {@include sec-default(); margin-top:12px;}
			.tests {@include purple-btn(35%); background: darken($btn1, 25%); padding: 10px 50px; }
		}
		.call-block { @include sec-default();
			// background-color: white;
			padding: 60px 0; text-align: center;
			// @include sec-bgimage('rb-helix.png');background-size: 50%;
			position: relative;z-index: 0;
			// &::before {@include before(); width:50%; left:50%; background-color: $red;}
			// .inner {width:45%; float: right; margin-right: 5%;}

			h3 {color: $dark;font-size: 21px; font-weight: bold; letter-spacing: 1px;
				span {color: $blue; line-height: 2em;font-family: $open;}
			}
			#number_link{color: $blue;}
		}

		.call3 { @include sec-default(); text-align: center;
			background-color: darken($nteal, 2%);;

			.blk {@include sec-grid(left,25%); padding: 40px;
				&.two {background-color: darken($nteal, 4%);}
				&.three {background-color: darken($nteal, 8%);}
				&.four{padding-bottom: 0px;}
			}
			// .full-blk{@include sec-default(); padding: 20px; background-color: $nteal}

			p{font-size: 20px; font-weight: 500;}
			h4 {color: $dark;font-size: 21px; font-weight: 500;
				a {color: $blue; line-height: 2em;font-family: $open;}
			}
		}

		.full-img {@include sec-default(); background-color: white; height:80px;
			@include sec-bgimage('dna14.png'); background-size: 35%; background-repeat: repeat-x;
		}


		@include bp(dt) {
			.call-block .inner {width: 50%;}
		}

		@include bp(tb) {
			.top {padding:35px 0 20px; text-align: center;
				// @include sec-bgimage('flat-map.png'); background-position: bottom right; background-size: 20%;
				h1 {font-size: 1.6em; margin-bottom: 5px;}
				p {font-size: 15px;margin:10px 0;}
				.one{ width: 55%;padding:0; margin-top: 35px;}
				.two {width: 30%;}
				.tests{font-size: 16px;}
			}

			.newlist {padding: 50px;
				.states-dd {width: 45%;}
				.btn-secondary.dropdown-toggle {background-color: white;}
			}

			.opt-block {padding:40px 0;
				.inner {width: 85%;}
				.one{margin-top: 5%;}
			}

			.call-block {padding:40px 0 25px;
				.inner{width: 85%;}
				h3 {font-size: 18px}
			}
		}

		@include bp(tn) {
			.top {
				padding:30px 0 15px;
				h1 {font-size: 1.35em;}
				.inner {width: 90%;}
				.one {width: 64%;}
			}

			.newlist {
				padding:30px 0;
				h2 {font-size: 18px;}
				.btn-secondary.dropdown-toggle {font-size: 17px; background-color: white;}
			}

			.opt-block {padding:20px 0;
				.inner {width: 90%;}
				.one{width:70%; margin-left: 3%;}
				.two {width: 25%; margin-left: 0;}
				p{font-size: 15px;}

				.tests {@include purple-btn(35%); background: darken($btn1, 25%); padding: 5px 15px; font-size: 15px;}
			}

			.call-block {padding:25px 0 5px;
				.inner {width: 80%;}
				h3 {font-size: 17px;}
			}
		}

		@include bp(md) {
			.top { padding:30px 0 25px;
				.one{width: 90%; margin-top: 0; @include center-block(); padding:0;}
				.two {display: none;}
			}
			.call-block h3 {font-size: 16px;}
		}

		@include bp(ph) {
			.top { padding:25px 0 15px;
				.one{width: 97%;}
			}

			.newlist {
				padding:20px 0;
				h2 {font-size: 16px;}
				.btn-secondary.dropdown-toggle {font-size: 16px; }
				.states-dd {width: 80%;}
			}

			.opt-block {
				@include sec-bgimage('test-icon.png'); background-position: bottom right; background-size: 20%;
				padding-bottom: 60px;
				.one{width:90%;@include center-block(); margin-top:0;}
				.two {display:none;}
				.tests { padding: 5px 20px; font-size: 14px;}
			}
			.listing {width: 70%;}
		}

		@include bp(sm) {
			.top {
				.inner {width:94%;}
				h1 {font-size: 1.2em;}
				p{font-size: 14px;}
			}

			.newlist h2 {padding: 0 8px;}

			.call-block .inner{width: 85%;}
		}
	}
}

.towns .all-towns, .states .all-towns, .locations {
	@include sec-default();

	.form-control, .btn-outline-secondary.search {height: 45px; border-radius: 0;}
	.form-control {width:88%; float: right;}
	.btn.btn-outline-secondary.search {background-color: lighten($fun, 10%); color: white; width: 12%; letter-spacing: 1px;
		@include sec-bgimage('search.png'); background-position: center center; background-size: 45%;
	}

	.pop {@include sec-default(); background-color: $blue; padding:0;
		h4 {margin-bottom: 8px; font-size: 17px; line-height: 1.4em;}

		.one {@include sec-grid(left, 70%); @include center-block(); text-align: center;
			h1, p {color: white; text-shadow: 0px 1px 1px rgba(black, .3);font-family: $open;}
			p{font-size: 18px;}
		}

		background: -webkit-linear-gradient(-270deg, lighten($dk-blue, 20%) 50%, darken($nblue, 5%) 50%);
		background: linear-gradient(65deg, lighten($dk-blue, 20%) 50%, darken($nblue, 5%) 50%);
		padding: 55px 80px 80px;
	}

	.location-map{@include sec-default();background-color: white; box-shadow: 0 0px 30px rgba(black, .2); margin-top: 35px;
		max-height: 550px;
	}

	#map {height: 550px}
	.town-hlf, .map-hlf {@include sec-grid(right, 70%); }
	.town-hlf {width: 30%; height:550px; float: left;}
	.loclist {@include sec-default();padding: 50px 20px 20px 50px;max-height: 500px; overflow-y: scroll;}
	#redo-search { font-weight: bold; font-size: 16px; color: white; float: right; margin-top: 10px;}
}

.states .all-towns {
	.town-hlf {padding-bottom: 40px;}
	.loclist {padding-top: 15px; }
}

.towns .all-towns, .states .all-towns, .locations {
	@include bp(dt) {
		.pop .one {width: 60%;}
	}

	@include bp(tb) {
		.pop {padding: 40px 65px 80px;
			.one {width: 80%;}
		}
		.btn.btn-outline-secondary.search {background-size: 50%;}
		.loclist {padding-left: 30px; }
	}

	@include bp(tn) {
		.pop {padding: 25px 35px 60px;
			.one {width: 95%;
				h1 {font-size: 1.8em;}
				p{font-size: 16px;}
			}
		}
		.form-control {width: 85%;}
		.btn.btn-outline-secondary.search {width: 15%; background-size: 50%;}

		.location-map{margin-top: 10px;max-height: 450px;}
		.loclist {padding: 20px 15px 20px 20px}

		#map, .town-hlf { height:450px; }
		.loclist {max-height: 400px; }
	}

	@include bp(mb) {
		.pop {padding: 25px 25px 60px;
			.one {width: 100%;
				h1 {font-size: 1.5em; }
			  p{font-size: 15px;}
			}
		}

		.town-hlf { width: 40%;}
		.map-hlf {width: 60%}
	}

	@include bp(sm) {
		.pop {padding: 20px 15px 60px;
			.one h1 {font-size: 1.25em; margin-bottom: 0px;}
		}
		.location-map {max-height:100%;}
		.town-hlf, .map-hlf {@include sec-default(); padding-bottom: 0;}
		#map { height:250px; }
		.town-hlf { height:300px; }
		.loclist {max-height: 100%; }
		#redo-search { font-size: 15px; color: $dark; margin: 10px; }
	}
}

.states .all-towns {
	p.zero{padding: 15px; text-align: center;}
	@include bp(sm) {
		.town-hlf {height: 330px}
		.loclist {max-height: 280px; }
	}
}

.locations, .towns.show .all-towns {
	.loclist {padding-top: 20px;}
	h4 {font-weight: 500; }
}

.loclist .townlisting-bx #number_link{color: $blue;}
