<% @page_title = "Dna Testing in #{@town.townname} #{@state.abv}" %>

<div class="all-towns">

	<div class="full pop">
		<div class="one">
	  	<h1>Get DNA Tested Today in <span><%= @town.townname %>, <%= @state.abv %></span></h1>
			<p>Get DNA Tested Today offers DNA &amp; Paternity testing options that are non-invasive, affordable, and 99.99% accurate. Your privacy is our guarantee.</p>
		</div>

		<div class="location-map">
			<div class="map-hlf">
				<%= render 'shared/map' %>
			</div>

		</div>
	</div>
</div>
