<div class="header-style2">
	<div class="inner">
		<div class="left">
    	<div class="logo-block"><%= link_to(image_tag( 'usadna-logo.png', alt: 'USA DNA Testing logo', class: 'img-responsive logo'), root_path ) %></div>
		</div>

		<div class="right-call-block">
			<p>Call Us Today!</p>
		  <a href="tel:18662125426" id="number_link" onclick="ga('send', 'event', 'Phone Number', 'Clicked to Call', 'Number on Website', '1');"><h4>1 (866) 212-5426</h4></a>
		</div>

		<div class="nav-mid">
			<header class="site-header" role="banner">
				<div class="wrap">
					<ul class="mainu megamenu-parent menu-zoom hidden-xs">
				    <%= render 'layouts/nav' %>
					</ul>
				</div>
			</header>
		</div>

		<div class="mtog">
	    <a href="#" id="offcanvas-toggler">
	        <span></span>
	        <span></span>
	        <span></span>
	    </a>
	  </div>
	</div>
</div>
<div class="clearfix"></div>
